nav{
    width: 150px;
  margin: 0;
  float: left;
  margin-right: 10px;
  padding: 0;
  }
  header{
    font-size: 25px;
  }
  #main-doc{
    font-size: 100%;
    margin: 0;
    padding: 0;
  }
  ul{
    list-style: none;
  }
    #nav-bar{
    position: relative;
  }
  
  .nav-link{
    display: block;
    line-height: 3em;
    width: 100%;
    text-decoration: none;
    color: #818181;
  }
  .nav-link:hover{
    color: #000;
  }
  @media screen and(max-height:450px){
    .nav-link{
      padding-top: 15px;
    }
    .nav-link a{font-size: 14px}
  }